/GetDeps/__pycache__
/.vs
/GetDeps/source
/GetDeps/DependencyClass/__pycache__
/Doxydeps.*
/GetDeps/Util/__pycache__
/__pycache__
/Rworks/Rworks.*
/Rworks/.Rhistory
/Rworks/Rworks/Rworks.*
/env
*.csv
*.pdf
/paper/ses2016.synctex.gz
/paper/ses2016.log
/paper/ses2016.aux
/paper/ses2016.synctex.gz(busy)
/paper/ses2016.dvi
/paper/ses-sample*