/GetDeps/__pycache__
/.vs
/GetDeps/source
/GetDeps/DependencyClass/__pycache__
/Doxydeps.sln
/Doxydeps.pyproj
/Doxydeps.pyproj.user
/GetDeps/Util/__pycache__
/__pycache__
/Rworks/Rworks.rproj
/Rworks/Rworks.rxproj
/Rworks/.Rhistory
/Rworks/Rworks/Rworks.rxproj
/Rworks/Rworks/Rworks.rproj
/env
*.csv
*.pdf