/GetDeps/__pycache__
/.vs
/GetDeps/source
/GetDeps/DependencyClass/__pycache__
/Doxydeps.*
/GetDeps/Util/__pycache__
/__pycache__
/Rworks/Rworks.*
/Rworks/.Rhistory
/Rworks/Rworks/Rworks.*
/env
*.csv
*.pdf
*.gz*
*.log
*.aux
*.dvi
*.zip
/paper/ses-sample*